@media screen and (max-width:600px) {
    .page1 {
        padding: 4% 6%;
    }

    nav>.links>img {
        height: 50px;
    }

    nav>.links>a {
        display: none;
    }

    nav>.goto {
        display: none;
    }

    .menu {
        display: initial;
    }

    .page1_content>h1 {
        font-size: 40px;
        font-weight: 520;
    }

    .page1_content>p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .page1_content>button {
        scale: 0.9;
    }

    .page1_sociallinks {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

    }

    .page1_footer {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: 20%;
    }

    .page1_footer p {
        font-size: 14px;
        font-weight: 420;
    }

    .page2_heading {
        font-size: 40px;
        font-weight: 500;
    }

    .page2 {
        flex-direction: column;
        align-items: center;
    }

    .page2 div {
        width: 90%;
        padding-top: 3%;
        padding-bottom: 5%;
    }

    .page3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page3_image {
        width: 90%;
        margin-bottom: 10%;
    }

    .page3_text {
        width: 90%;
        margin-bottom: 10%;
    }

    .page3_text>h1 {
        font-size: 30px;
        font-weight: 500;
    }

    .page3_box {
border:5px solid #cc9405;
        left: 10%;
        width: 70%;
        margin-top: 125%;
    }
}