/* 
responsive: 
make a website for laptop, tablat(max-width:800-900), phone(max-width:600).
and 6  type of make website.
eyery screen have 2 types landscape and portrate mode. total is 6 .

min-height:100%

logo search on google png format.
watermark remove website.

by default text font size is 16px

color-hunt

gap use then display is flex.

display:flex is apply on parent properties and child element is i tag, links, p tag, h1 tag then work all the child elements.


*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: montserrat;
}

.page1 {
    padding: 0 10%;
    height: 100%;
    width: 100%;
    background-image: url(background01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav {
    padding-top: 2%;

    /* background-color: cornsilk; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>.links>img {
    height: 70px;
    margin-right: 10%;
}

nav>.links {
    display: flex;
    align-items: center;
    gap: 30px;

}

nav>.links>a {

    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav>.links>a {

    text-decoration: none;
    color: black;
    font-weight: 500;
}

.goto>a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.goto>button {
    padding: 10px 30px;
    background-color: #ab886d;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 17px;
    margin-left: 15px;
}

.menu {
    font-size: 20px;
    display: none;
    /* visibility: hidden; */
}
.page1_content{
    margin-left: 20%;
}
.page1_content>h1 {
    font-size: 70px;
    font-weight: 720;
}

.page1_content>p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.page1_content > button {
    padding: 10px 30px;
    background-color: #ab886d;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 17px;
}

.page1_sociallinks{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;

}
.page1_sociallinks i{
    display: inline;
    background-color: #ab886d;
    padding: 20px;
    color: white;
    border-radius: 50%;
}

.page1_footer{
    display: flex;
    gap: 50px;
    margin-left: 20%;
}
.page1_footer  p{
    font-size: 18px;
    font-weight: 520;
}

.page2_heading{

/* text-align: center; */
padding: 0 10%;
font-size: 60px;
font-weight: 900;
padding-top: 5%;
/* padding-bottom: 3%; */
}

.page2{
    padding: 0 10%;
    width: 100%;
    /* background-color: beige; */
    display: flex;
    justify-content: space-between;
    gap: 5%;
    padding-top: 3%;
    padding-bottom: 10%;
}

.page2 div{
    width: 25%;
    /* background-color: blueviolet; */
}
.page2 div  img{
    width: 100%;
}

.page3{
     padding: 0 10%;
     width: 100%;
     height: 600px;
     background-color: burlywood;

}
.page3{
    display: flex;
    justify-content: space-between;
}


.page3_image{
    width: 40%;
    height: 550px;
}

.page3_image > img{
    width: 100%;
    height: 550px;
}

.page3_text{
    width: 57%;
    height: 550px;
    background-color: antiquewhite;
    padding-right: 35px;
}

.page3_text >h1{
   font-size: 50px;
   font-weight: 900;
}
.page3_text >h5{
    padding-top: 10px;
    padding-bottom: 90px;
 }

.page3_text >p{
    padding-top: 40px;
    padding-bottom: 10px;
 }

 .page3_box{
     height: 40%;
     width: 51%;
     /* background-color: blueviolet; */
     border:6px solid #cc9405;
     position: absolute;
     left: 38%;
     margin-top: 10%;
 }

 .page4{
   
    padding-left: 10%;
    width: 100%;
    background-color: beige;
    display: flex;
    justify-content: space-between;
    gap: 2%;
    padding-top: 3%;
    padding-bottom: 10%;
}

.page4 div{
    width: 26%;
    background-color: blueviolet;
}
.page4 div  img{
    width: 100%;
    background-color: #cbb9dc;
}
